.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.Deployed {
  display: flex;
  flex-direction: column;
}

.Input {
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, rgb(3, 57, 108), rgb(255, 165, 0), rgb(85, 26, 139));
  width: 70vw;
  max-width: 900px;
  height: 90vh;
  border-radius: 10px;
  margin: 20px;
  color: black;
}


.InputForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  font-size: 25px;
  margin-top: 7px;
  margin-bottom: 5px;
}

.InputLine {
  margin: 15px;
}

.InputDetail1 {
  padding: 5px;
  border-radius: 5px;
  font-size: large;
  width: 60%;
  max-width: 600px;
}

.InputDetail2 {
  padding: 5px;
  border-radius: 5px;
  font-size: large;
  width: 25vh;
}

.InputInfo {
  font-size: 27px;
  font-weight: bolder;
  text-align: center;
  margin-top: 10px;
}

.WalletLabel {
  font-family: "Arial", sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin-left: auto;
  color: #ffa500;
  float: left;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #fff;
}

.DeployedContractInfo {
  font-size: 25px;
  font-weight: bolder;
  color: darkblue;
  margin-left: 20px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.NextStepsInfo {
  font-size: 25px;
  font-weight: bolder;
  color: darkblue;
  margin-left: 20px;
  margin-bottom: 5px;
  margin-top: 25px;
}

.NextStepsList {
  font-size: 20px;
  font-weight: bold;
  color: navy;
  margin-left: 75px;
}

.Deploy {
  width: 150px;
  font-weight: bolder;
  padding: 5px;
  border-radius: 7px;
  border-color: darkblue;
  border-style: double;
  font-size: 20px;
  color: darkblue;
  background-color: white;
  margin-bottom: 20px;
  margin-top: 5px;
}

.NetworkLabel {
  font-family: "Arial", sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin-left: auto;
  color: #ffa500;
  float: right;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #fff;
  text-transform: uppercase; /* Added text-transform property */
}

.Header {
  color: whitesmoke;
  font-size: 65px;
  font-family: monospace;
  margin: 20px;
}

.Info {
  font-size: 24px;
  margin: 10px;
}

.ConnectWallet {
  margin: 35px;
  height: 50px;
  border-radius: 20px;
  border-style: dotted;
  width: 250px;
}
